#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

body {

    background: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
}

.travel_maindiv {

    border: 2px solid gold;
    padding-left: 0px;
    padding-right: 0px;
    float: none;

}

.travel_maindiv img {

    width: 100%;

}

h2 {

    color: ;
}

p {

    color: ivor;
}

\
 .Title {

    color: goldenrod;
    font-size=100px;
}

.enviorment_li {
    margin-top: 13px;


}

.enviorment_li h4 {

    border-bottom: 1px solid white;

}

.listtext {

    font-size: 25px
}

.movie_head i {

    float: right
}

.movie_head {

    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_text span {
    color: #ff7700;
}

.book {
    
    cursor: pointer;
    
}

.book hr {
    
    margin-bottom: 10px;
}

.modal-content {
    
    margin-bottom: 100px;
}

.img_modal {
    
    display: inline-block;
}

.p_modal {
    
    margin-top: 10px;
    font-size : 30px
}

.namebook {
    
    font-size : 40px
}

.link {
    
    font-size = "30"
}